*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

:root{
    --color-blue:  #0095f6;
}

body{
    width: 100%;
    min-height: 100vh;

    background-color: rgb(243, 243, 243);

    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    width: 60%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: start;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: #fff;
    
    width: 100%;
    
    padding: 1.3rem 0;
    margin: 0.5rem;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
}

.profile-pic img {
    height: 6rem;
}

.instagram-login {
    background-color: var(--color-blue);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-top: 1rem;
}

.instagram-logout {
    color: var(--color-blue);

    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}
.link-blue {
    color: var(--color-blue);
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url("/img/apple-button.png");
}

.app-download:nth-child(2) {
    background-image: url("/img/googleplay-button.png");
}